@model EstruturaBoostratap.ModelViews.ClienteModelView
@{
    ViewData["Title"] = "Listar Clientes";
}
<h1 class="titulo-pagina">Clientes</h1>
<div class="clear-titulo"></div>
<div class="top-pagina">
    <form name="FormCleanFilter" id="FormCleanFilter" asp-action="Index">
        <input type="hidden" name="LimparBusca" value="LimparFiltro" />
    </form>
    <form asp-action="Index">
        <div class="menu-listar">
            <div class="btn-filtrar">
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Filtrar
                </button>
            </div>
            <div class="btn-novo">
                <a class="btn btn-primary" asp-action="Create" role="button">
                    Novo Cliente
                </a>
            </div>
            <div class="clear"></div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="NomeCliente">Nome do Cliente/Razão Social</label>
                            @Html.TextBoxFor(x => x.NomeClienteFiltro, new { @id = "NomeClienteFiltro", @class = "form-control", @placeholder = "Nome ou Razão Social do Cliente" })
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="EmailCliente">E-mail Cliente</label>
                            @Html.TextBoxFor(x => x.EmailClienteFiltro, new { @id = "EmailClienteFiltro", @class = "form-control", @placeholder = "E-mail do Cliente" })
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="Telefone">Telefone</label>
                            @Html.TextBoxFor(x => x.TelefoneClienteFiltro, new { @id = "TelefoneClienteFiltro", @class = "form-control maskPhone", @placeholder = "Telefone do Cliente" })
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="DataCadastro">Data Cadastro</label>
                            <div class="input-group date dataPicker">
                                @Html.TextBoxFor(x => x.DataCadastroFiltro, new { @id = "DataCadastroFiltro", @class = "form-control maskPhone", @placeholder = "Selecione uma data ou período" })
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="DataCadastro">Bloqueado</label>
                            @Html.DropDownListFor(x => x.StatusFiltro, new SelectList(Model.ListaBloqueio, "Value", "Text", Model.ListaBloqueio), new { @id = "StatusFiltro", @class = "custom-select" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                        <a href="#" class="btn btn-danger" onclick="javascript:document.FormCleanFilter.submit();" role="button">Limpar Filtros</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="grid-result">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><input type="checkbox" name="seleciona-tudo" id="seleciona-tudo" /></th>
                    <th scope="col">Nome/Razao Social</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Data Cadastro</th>
                    <th scope="col">Bloqueado</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaClientes)
                {
                    <tr>
                        <th scope="row"><input type="checkbox" name="ch_@item.ClienteID" id="ch_@item.ClienteID" value="@item.ClienteID" /></th>
                        <td>@item.NomeCliente</td>
                        <td>@item.EmailCliente</td>
                        <td>@item.TelefoneCliente</td>
                        <td>@item.DataCadastro</td>
                        <td>@item.AtivoBloque</td>
                        <td><a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ClienteID" role="button">Editar Cliente</a></td>
                    </tr>
                }
            </tbody>
        </table>
        @await Component.InvokeAsync("Paginacao")
    </div>
</div>

@section Scripts {
    <script src="~/js/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.maskedinput-1.3.min.js"></script>
}
